Flask
Flask-Cors
Flask-Login
Flask-Mail
Flask-WTF
Flask-PyMongo

Werkzeug
itsdangerous
gunicorn

pymongo>=4.0.0
bcrypt

requests
python-dotenv

email-validator
flask-socketio 
eventlet

Flask-SocketIO
PyYAML

pycountry
pytz

pyotp

authlib

timedelta


python-slugify
