<footer class="footer">
    <p class="fs-11 text-muted fw-medium text-uppercase mb-0 copyright">
        <span>Copyright ©</span>
        <script>
            document.write(new Date().getFullYear());
        </script>
    </p>

    <p>
        <span>
            By: 
            <a target="_blank" href="{{ settings.facebook if settings and settings.facebook else '#' }}">
                {{ settings.system_name if settings and settings.system_name else 'Eng Kulmiye' }}
            </a>
        </span> • 
        <span>
            Distributed by: 
            <a target="_blank" href="{{ settings.twitter if settings and settings.twitter else '#' }}">
                {{ settings.system_name if settings and settings.system_name else 'Engr Kulmiye' }}
            </a>
        </span>
    </p>

    <div class="d-flex align-items-center gap-4">
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Help</a>
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Terms</a>
        <a href="javascript:void(0);" class="fs-11 fw-semibold text-uppercase">Privacy</a>
    </div>
</footer>
