{% extends 'frontend/home/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

    {% include "frontend/partials/hero.html" %}

    {% include "frontend/partials/container.html" %}

    {% include "frontend/partials/about.html" %}

    {% include "frontend/partials/skills.html" %}

    {% include "frontend/partials/services.html" %}

    {% include "frontend/partials/projects.html" %}

    {% include "frontend/partials/testimonies.html" %}

    <!-- {% include "frontend/partials/blog.html" %} -->

    {% include "frontend/partials/contact.html" %}

{% endblock %}