<footer class="ftco-footer ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About Me</h2>
                    <p>Passionate Software Engineer based in Mogadishu. Specialized in building efficient, scalable web and mobile applications, along with hardware troubleshooting solutions.</p>
                    <p><a href="#contact" class="btn btn-primary">Hire Me</a></p>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Quick Links</h2>
                    <ul class="list-unstyled">
                        <li><a href="{{ url_for('main.index') }}"><span class="fa fa-chevron-right mr-2"></span>Home</a></li>
                        <li><a href="{{ url_for('main.index') }}"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="{{ url_for('main.index') }}"><span class="fa fa-chevron-right mr-2"></span>Projects</a></li>
                        <li><a href="{{ url_for('main.index') }}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                        <li><a href="{{ url_for('main.privacy_policy') }}"><span class="fa fa-chevron-right mr-2"></span>Privacy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Web Development</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Mobile App Development</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Hardware Troubleshooting</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Graphic Design</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Data Analysis</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Mogadishu, Somalia</span></li>
                           <ul>
                            <!-- Phone -->
                            <li>
                                <a href="tel:+252618552904">
                                    <span class="icon fa fa-phone"></span>
                                    <span class="text">+252 618 552904</span>
                                </a>
                            </li>

                            <!-- WhatsApp -->
                            <li>
                                <a href="https://api.whatsapp.com/send?phone=252618552904&text=Hi%20Ku%20soo%20dhawoow%20Kulmiye%20Tech" target="_blank">
                                    <span class="icon fa fa-whatsapp"></span>
                                    <span class="text">Chat on WhatsApp</span>
                                </a>
                            </li>

                            <!-- Email -->
                            <li>
                                <a href="mailto:ahmedrashiidaden@gmail.com">
                                    <span class="icon fa fa-paper-plane"></span>
                                    <span class="text">ahmedrashiidaden@gmail.com</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.linkedin.com/in/eng-kulmiye"><span class="fa fa-linkedin"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-github"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | 
                    Ahmed Rashid Aden 
                </p>
            </div>
        </div>
    </div>
</footer>