{% extends 'backend/home/base.html' %}

{% block title %}{{ user.fullname }} Profile | Logistics System{% endblock %}

{% block content %}



<!-- [ page-header ] start -->
<div class="page-header">
    <div class="page-header-left d-flex align-items-center">
        <div class="page-header-title">
            <h5 class="m-b-10">User Profile </h5>
        </div>
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">{{ user.fullname }} | Profile View</li>
        </ul>
    </div>
   
</div>
<!-- [ page-header ] end -->
<div class="bg-white py-3 border-bottom rounded-0 p-md-0 mb-0">
    <div class="d-md-none d-flex">
        <a href="javascript:void(0)" class="page-content-left-open-toggle">
            <i class="feather-align-left fs-20"></i>
        </a>
    </div>
    <div class="d-flex align-items-center justify-content-between">
        <div class="nav-tabs-wrapper page-content-left-sidebar-wrapper">
            <div class="d-flex d-md-none">
                <a href="javascript:void(0)" class="page-content-left-close-toggle">
                    <i class="feather-arrow-left me-2"></i>
                    <span>Back</span>
                </a>
            </div>
            <ul class="nav nav-tabs nav-tabs-custom-style" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profileTab">Personal Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#proposalTab">Contact Info</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tasksTab">Social Links</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#notesTab">Location</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#commentTab">Security / Account Info</button>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- [ Main Content ] start -->
<div class="main-content">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="profileTab" role="tabpanel">
            <div class="card card-body lead-info">
                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">
                        <span class="d-block mb-2">Personal Information :</span>
                        <span class="fs-12 fw-normal text-muted d-block">Following personal information for {{ user.fullname }} </span>
                    </h5>
                    <!-- <a href="javascript:void(0);" class="btn btn-sm btn-light-brand">Create Invoice</a> -->
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Full Name</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">{{ user.fullname }}</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">User Name</div>
                    <div class="col-lg-10">{{ user.username }} </div>
                </div>
               
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Gender</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">{{ user.gender }}</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Phone</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">+01 (375) 5896 654</a></div>
                </div>
               <!-- <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Website</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">https://www.themewagon.com</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Lead value</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">$255.50 USD</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Address</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">47813 Johnathon Parks Suite 559</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">City</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">Cartermouth</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">State</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">Connecticut</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Country</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">United Kingdom </a></div>
                </div>
                <div class="row mb-0">
                    <div class="col-lg-2 fw-medium">Zip Code</div>
                    <div class="col-lg-10"><a href="javascript:void(0);">81135-0615 </a></div>
                </div> -->
            </div>
            <hr>
           
        </div>
        <div class="tab-pane fade" id="proposalTab" role="tabpanel">
            <div class="card card-body general-info">
                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">
                        <span class="d-block mb-2">Contact Information :</span>
                        <span class="fs-12 fw-normal text-muted d-block">Contact information for {{ user.fullname }}</span>
                    </h5>
                    <a href="javascript:void(0);" class="btn btn-sm btn-light-brand">Edit Profile</a>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Email</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-git-commit"></i>
                            </div>
                            <span>{{ user.email }}</span>
                        </a>
                    </div>
                </div>
              
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Phone Number</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-airplay"></i>
                            </div>
                            <span>{{ user.phone }} </span>
                        </a>
                    </div>
                </div>
               
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Created at</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-clock"></i>
                            </div>
                            <span>{{ user.created_at.strftime('%Y-%m-%d') }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Updated at</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-image avatar-sm">
                                <img src="assets/images/avatar/1.png" alt="" class="img-fluid">
                            </div>
                            <span>{{ user.updated_at.strftime('%Y-%m-%d') }} </span>
                        </a>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="tab-pane fade" id="tasksTab" role="tabpanel">
           <div class="card card-body general-info">
                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">
                        <span class="d-block mb-2">Social Links Information :</span>
                        <span class="fs-12 fw-normal text-muted d-block">Social Links information for {{ user.fullname }}</span>
                    </h5>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Twitter</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-git-commit"></i>
                            </div>
                            <span>{{ user.twitter }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Facebook</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-facebook"></i>
                            </div>
                            <span>{{ user.facebook }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Google</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-git-commit"></i>
                            </div>
                            <span>{{ user.google }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Whatsapp</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-facebook"></i>
                            </div>
                            <span>{{ user.whatsapp }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Instagram</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-git-commit"></i>
                            </div>
                            <span>{{ user.instagram }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Github</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-facebook"></i>
                            </div>
                            <span>{{ user.github }}</span>
                        </a>
                    </div>
                </div>
              
            </div>
        </div>
        <div class="tab-pane fade" id="notesTab" role="tabpanel">
           <div class="card card-body general-info">
                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">
                        <span class="d-block mb-2">Location Information :</span>
                        <span class="fs-12 fw-normal text-muted d-block">General information for {{ user.fullname }}</span>
                    </h5>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Country</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-git-commit"></i>
                            </div>
                            <span>{{ user.country }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">City</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-facebook"></i>
                            </div>
                            <span>{{ user.city }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">State</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-airplay"></i>
                            </div>
                            <span>{{ user.state }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Address</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-globe"></i>
                            </div>
                            <span>{{ user.address }}</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Created</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-clock"></i>
                            </div>
                            <span>26 MAY, 2023</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Assigned</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-image avatar-sm">
                                <img src="assets/images/avatar/1.png" alt="" class="img-fluid">
                            </div>
                            <span>Alexandra Della</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Lead By</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-image avatar-sm">
                                <img src="assets/images/avatar/2.png" alt="" class="img-fluid">
                            </div>
                            <span>Green Cute - Website design and development</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Tags</div>
                    <div class="col-lg-10 hstack gap-1"><a href="javascript:void(0);" class="badge bg-soft-primary text-primary">VIP</a><a href="javascript:void(0);" class="badge bg-soft-success text-success">High Rated</a><a href="javascript:void(0);" class="badge bg-soft-warning text-warning">Promotions</a><a href="javascript:void(0);" class="badge bg-soft-danger text-danger">Team</a><a href="javascript:void(0);" class="badge bg-soft-teal text-teal">Updates</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Description</div>
                    <div class="col-lg-10 hstack gap-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, nulla veniam, ipsam nemo autem fugit earum accusantium reprehenderit recusandae in minima harum vitae doloremque quasi aut dolorum voluptate. Minima, deleniti.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, nulla veniam, ipsam nemo autem fugit earum accusantium reprehenderit recusandae in minima harum vitae doloremque quasi aut dolorum voluptate.</div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="commentTab" role="tabpanel">
            <div class="card card-body general-info">
                <div class="mb-4 d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">
                        <span class="d-block mb-2">General Information :</span>
                        <span class="fs-12 fw-normal text-muted d-block">General information for {{ user.fullname }}</span>
                    </h5>
                    <a href="javascript:void(0);" class="btn btn-sm btn-light-brand">Edit Lead</a>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Status</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-git-commit"></i>
                            </div>
                            <span>Customer</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Source</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-facebook"></i>
                            </div>
                            <span>Facebook</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Default Language</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-airplay"></i>
                            </div>
                            <span>System Default</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Privacy</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-globe"></i>
                            </div>
                            <span>Private</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Created</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-text avatar-sm">
                                <i class="feather-clock"></i>
                            </div>
                            <span>26 MAY, 2023</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Assigned</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-image avatar-sm">
                                <img src="assets/images/avatar/1.png" alt="" class="img-fluid">
                            </div>
                            <span>Alexandra Della</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Lead By</div>
                    <div class="col-lg-10 hstack gap-1">
                        <a href="javascript:void(0);" class="hstack gap-2">
                            <div class="avatar-image avatar-sm">
                                <img src="assets/images/avatar/2.png" alt="" class="img-fluid">
                            </div>
                            <span>Green Cute - Website design and development</span>
                        </a>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Tags</div>
                    <div class="col-lg-10 hstack gap-1"><a href="javascript:void(0);" class="badge bg-soft-primary text-primary">VIP</a><a href="javascript:void(0);" class="badge bg-soft-success text-success">High Rated</a><a href="javascript:void(0);" class="badge bg-soft-warning text-warning">Promotions</a><a href="javascript:void(0);" class="badge bg-soft-danger text-danger">Team</a><a href="javascript:void(0);" class="badge bg-soft-teal text-teal">Updates</a></div>
                </div>
                <div class="row mb-4">
                    <div class="col-lg-2 fw-medium">Description</div>
                    <div class="col-lg-10 hstack gap-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, nulla veniam, ipsam nemo autem fugit earum accusantium reprehenderit recusandae in minima harum vitae doloremque quasi aut dolorum voluptate. Minima, deleniti.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, nulla veniam, ipsam nemo autem fugit earum accusantium reprehenderit recusandae in minima harum vitae doloremque quasi aut dolorum voluptate.</div>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}
